body {
  background: #DDD;
  margin: 0;
  padding: 30px 10%;
  font-size: 16px;
  font-family: "Liberation Sans", Arial, sans-serif;
}

hr {
  border: none;
  border-top: 2px dotted rgba(0,0,0,0.4);
}

p {
  text-align: justify;
}

.pt {
  width: 45%;
  float: left;
  color: #036;
}

.en {
  width: 45%;
  float: right;
  color: #630;  
}

h1, h2 {
  text-align: center;
  clear: both;
}
