body {
  background: #AAA;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Liberation Sans", Arial, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

hr {
  border: none;
  border-top: 2px dotted rgba(0,0,0,0.4);
}

.ui-dialog label {
  margin-right: 25px;
}

#twett-it {
  font-size: 190%;
  font-weight: bold;
}

#help-bt {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 8px;
  border: 1px solid #777;
  background: #CCC;
  padding: 5px 8px;
  font-weight: bold;
  text-decoration: none;
  color: #444;
}

#help-bt:hover {
  background: #EEE;
  color: #049;
}
